*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 5px 10px wheat;
    text-transform: capitalize;
}
.logo{
    height: 48px;
    padding: 2px 10px;
}
.icon-bar{
    background: red;
}
li a{
    color: #333;
}
.big-text{
    font-size: 52px;
    margin: 20px 0;
    color: green;

}
a.btn{
    margin: 30px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;

}
a.btn-first{
    background-color: greenyellow ;
    color: white;

}
a.btn-second{
    background: turquoise;
    color: whitesmoke;
}
a.btn-first:hover{
    background: turquoise;
    color: whitesmoke;
    box-shadow: 5px 5px 10px gray;

}
a.btn-second:hover{
    background: greenyellow;
    color: whitesmoke;
    box-shadow: 5px 5px 10px gray;
}